{% extends "@App/layout.html.twig" %}

{% block title %}
    Projects
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="{{ path('show_project', { id: 1 }) }}" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="#" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="#" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="#" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="#" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="#" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="#" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-image">
                    <img class="img-responsive" src="http://lorempixel.com/555/300/sports">

                </div><!-- card image -->

                <div class="card-content">
                    <span class="card-title">Material Cards</span>
                    <button type="button" id="show" class="btn btn-custom pull-right" aria-label="Left Align">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                </div><!-- card content -->
                <div class="card-action">
                    <p class="description">
                        Here is some more information about this product that is only revealed once clicked on.
                    </p>
                    <hr>
                    <ul class="nav nav-pills">
                        <li><span>Date of creation: <span class="badge">dd/mm/yyyy</span></span></li>
                        <li>
                            <span>Likes: <span class="badge">10 000</span></span>
                            <a href="#" class="btn btn-info read_more">Read more</a>
                        </li>
                    </ul>


                    {#<a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>
                    <a href="#" target="new_blank">Link</a>#}
                </div><!-- card actions -->
                <div class="card-reveal">
                    <span class="card-title">Card Title</span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <p>Here is some more information about this product that is only revealed once clicked on. Here is some more information about this product that is only revealed once clicked on.</p>
                </div><!-- card reveal -->
            </div>
        </div>

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/project_list.js') }}"></script>
{% endblock %}