{% if isUserVoted %}
    <div class="project-voted" data-toggle="tooltip" data-placement="bottom" title="Ви вже проголосували за цей проект">
        <img src="{{ asset("images/project-check-green.png") }}">
    </div>
{% endif %}
