{% extends "@App/layout.html.twig" %}

{% block body %}
    {{ block("header") }}
    <title>{% block title %}Вибачте за тимчасові незручності. Доступ до сервісу BankID тимчасово відсутній. Спробуйте ще раз пізніше.{% endblock %}</title>
    <div class="container">
        <div class="bs-docs-section">
            {{ block("flash") }}
            {#{{ block("content") }}#}
        </div>
    </div>
    {{ block("footer") }}
{% endblock body %}

{% block content %}{% endblock content %}