/web/css
/web/js
/web/images
/web/fonts
/node_modules
/bower_components
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/*
!bin/base_script.php
!bin/reload_database.php
!bin/clean.php
/composer.phar
/vendor/
/web/bundles/
/web-src/less/*.css
*~
.idea
/app/rsa_key.pem
*.log