/web/css
/web/js
/web/images
/web/fonts
/node_modules
/bower_components
/app/config/parameters.yml
/bin/*
!bin/base_script.php
!bin/reload_database.php
!bin/clean.php
!bin/console
/composer.phar
/vendor/
/web/bundles/
/web/uploads/
/web-src/less/*.css
*~
.idea
/app/rsa_key.pem
*.log
/.web-server-pid
/build/
/phpunit.xml
/var/*
!var/SymfonyRequirements.php
web-src/images/.DS_Store
/docker/mysql/db
