app:
    resource: "@AppBundle/Controller/"
    type:     annotation

admin:
    resource: "@AdminBundle/Controller/"
    type:     annotation

admin_login_check:
    path: /admin/login_check
admin_logout:
    path: /admin/logout
login_check:
    path: /login_check
logout:
    path: /logout

projects:
    path: /projects
    defaults:
        _controller: FrameworkBundle:Redirect:redirect
        route: votings_list
        permanent: true

rada_about:
    path: /about
    defaults:
        _controller:  FrameworkBundle:Template:template
        template:     'AppBundle:Static:about.html.twig'
        maxAge:       86400
        sharedMaxAge: 86400

rada_developerss:
    path: /developers
    defaults:
        _controller:  FrameworkBundle:Template:template
        template:     'AppBundle:Static:developers.html.twig'
        maxAge:       86400
        sharedMaxAge: 86400
