{% extends "@App/Admin/layout.html.twig" %}

{% block content %}
    <h1>VoteSettings creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('vote_settings') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
