{% extends "@App/layout.html.twig" %}

{% block title %}Адмін панель{% endblock title %}

{% block header %}
    <header id="admin-main-header">
        <div class="container">
            <div class="brand">
                <a href="{{ path("homepage") }}" id="admin-home-icon"></a>
            </div>

            <div class="header-controls">
                {% if 'offline' not in app.request.get('_route') %}
                <a href="{{ path("admin_dashboard") }}">{{ block('title')}}</a>
                {% endif %}
                {% block user %}
                    {% if app.user %}
                        <a href="{{ path('logout') }}" class="lb-signout" title="Вихід">Вихід</a>
                    {% elseif app.request.get('_route') != 'login' %}
                        <a href="" class="lb-signin" data-toggle="modal" data-target="#login-modal" title="Увійти"></a>
                    {% endif %}
                {% endblock user %}
            </div>
        </div>
    </header>
{% endblock header %}
