{% extends "@App/Admin/layout.html.twig" %}

{% block title %}Публічне голосування{% endblock title %}

{% block header %}
    <header id="main-header" class="container">
        <div class="main-block">
            <a href="{{ path('admin_dashboard') }}" id="home-icon" class="icon-home"></a>
            <a href="#">{{ block('title')}}</a>
            <a href="{{ path('offline_dashboard') }}" class="lb-signout" title="Вихід">Вийти з голосування</a>
        </div>
    </header>
{% endblock header %}

{% block flash_attr %} style="position:relative;top: 0;"{% endblock flash_attr %}
