<!DOCTYPE html>
<html>
<body>

<p>Доброго дня, {{ user.firstName|capitalize }} {{ user.lastName|capitalize }}</p>
<p>Дякуємо за реєстрацію на сайті <a href=http://golos.ck.ua>Громадський бюджет</a></p>
<p>Відтепер ви зможете прийняти участь у голосуванні, підпримавши представлені проекти та допомогти вирішити долю вашого міста на наступний рік.</p>
<p>В вашій наявності 4 голоси, які ви зможете віддати за будь-який проект, що вам сподобався.</p>
<p>Хочему звернути вашу увагу, що голусувати за проект можна тільки 1 раз. Голоси що залишись можна використовувати підтримавши інші проекти.</p>
<p>Опрелюднення результатів буде після завершення строку для голосування та підведння підсумків.</p>
<p>Дякуємо що ви з нами.</p>
<hr>
<p>З повагою,<br>
    Адміністрація сайту.</p>
</body>
</html>