{% extends '@App/layout.html.twig' %}

{% block title %}Додавання користувача{% endblock %}

{% block content %}
    <h1>Додавання користувача</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_users') }}">
            Назад до списку
        </a>
    </li>
</ul>
{% endblock %}
