{% extends "@App/layout.html.twig" %}

{% block body %}
    admin dashboard <a href="{{ path('admin_logout') }}">LOGOUT</a>
    admin list_projects <a href="{{ path('admin_projects_show') }}">admin list_projects</a>
{% endblock body %}
