{% extends '@App/layout.html.twig' %}

{% block title %}
    Логін в Адмінку
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="bs-docs-section">
            {{ block("header") }}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block header %}
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12">
                <h1 id="buttons">{{ block('title') }}</h1>
            </div>
        </div>
    </div>
{% endblock header %}

{% form_theme form _self %}

{% block button_size %}btn btn-success btn-block{% endblock button_size %}
{% block button_label %}Логін{% endblock button_label %}
