{% extends '@App/layout.html.twig' %}

{% block title %}
    Перевірка даних
{% endblock title %}

{% block content %}
    <p class="form-title">Перевірьте, будь ласка правильність отриманих даних.</p>
    {{ form (form) }}
{% endblock %}

{% form_theme form _self %}
