{% extends '@App/layout.html.twig' %}

{% block title %}
    Profile
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-lg-5">
            <div class="profile_block">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object dp img-circle" src="http://lorempixel.com/100/100/people" style="width: 100px;height:100px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span class="thecond_name">Ivanov</span>
                            <span class="first_name">Iavan</span>
                            <span class="middle_name">Ivanovich</span></h4>
                        <h5>Software Developer at <a href="http://gridle.in">Gridle.in</a></h5>
                        <hr style="margin:8px auto">
                        <span class="label label-default">HTML5/CSS3</span>
                        <span class="label label-default">jQuery</span>
                        <span class="label label-info">CakePHP</span>
                        <span class="label label-default">Android</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

