{% extends '@App/layout.html.twig' %}


{% block content %}


        <div class="info_project">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor suscipit gravida. Proin
                varius, lectus non auctor interdum, enim ligula sodales odio, vitae aliquam massa augue nec mi. Mauris
                cursus erat enim, tincidunt mollis arcu ullamcorper ut. Proin tincidunt tortor elit, sit amet tristique
                felis blandit in. Donec congue eros eu efficitur pretium. Aliquam porta pellentesque libero. Mauris nec
                ultrices lacus. Praesent eros nulla, ornare sed luctus non, convallis in ipsum. Pellentesque fringilla
                turpis vel arcu sollicitudin, in sollicitudin mauris scelerisque. Nam tempus odio sed ultrices varius.
                Nullam tempus euismod pulvinar. Nulla ultrices congue enim, eu feugiat ante eleifend non.
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                <li>Nulla a est sit amet quam accumsan tempus.</li>
                <li>Nullam fermentum sem a porta commodo.</li>
                <li>Ut in sapien sed urna hendrerit facilisis.</li>
            </ul>
        </div>
        {{ block("navproject") }}

{% endblock %}

{% block header %}
    <div class="fb-profile">
        <div class="image_project">
            <h2 class="title_project">{{ block('title') }}</h2>
            <img align="left" class="fb-image-lg" src="http://lorempixel.com/555/300/sports" alt="Profile image example"/>
        </div>
        <div class="fb-image-profile thumbnail">
            <div class="border_tumbnail">
                <img align="left" class=" " src="http://lorempixel.com/150/150/sports" alt="Profile image example"/>
            </div>

        </div>
        <div class="fb-profile-text">
            <h1>Eli Macy</h1>
        </div>
    </div>
{% endblock header %}

{% block title %}
    project view with ID: {{ id }}
{% endblock title %}

{% block navproject %}
    <div class="nav_project">
        <ul class="nav nav-pills">
            <li><span>Created on: <span class="badge">dd/mm/yyyy</span></span></li>
            <li>
                <span>Likes: <span class="badge">10 000</span></span>
            </li>
            <li>
                <span>
                    Source: <a href="http://www.google.com" class="badge">www.google.com</a>
                </span>
            </li>
            <li>
                <button class="btn btn-info read_more">Read more</button>
            </li>

        </ul>
    </div>
{% endblock navproject %}