@font-face {
    font-family: LatoWeb;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: MyriadProRegular;
    src: url('../fonts/MyriadProRegular/MyriadProRegular.ttf');
}

@font-face {
    font-family: HelveticaRoman;
    src: url('../fonts/Helvetica/HelveticaNeueCyr-Roman.ttf');
}

@font-face {
    font-family: HelveticaMedium;
    src: url('../fonts/Helvetica/HelveticaNeueCyr-Medium.ttf');
}


a {color:#6f6ea6;}
a:hover {text-decoration:none;}

li {
    color: #696969;
}

.row {
    margin:0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: HelveticaRoman;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    min-height:100%;
    height: auto !important;
    height: 100%;
    position: relative;
	width:100%;
	color:#fff;
}

.main-bg-1 {
    background: url(images/bg.jpg) no-repeat fixed;
    background-size:cover;
}

.main-bg-2 {
    background: url(images/bg-main.jpg) no-repeat fixed;
    background-size:cover;
}
#main-header {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:52px;
    padding-top:15px;
    background:#fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align:center;
    font-size:20px;
    z-index:10;
}

#main-wrap {
    z-index: 2;
    padding-bottom: 60px;
}

#main-footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Высота блока "footer" */
    text-align:center;
    background-color: #4c5c9c;
    padding:10px 0;
}
.icon-wrap a{
    display: inline-block;
    margin: 0 10px;
}
.icon-wrap a:nth-child(4){
    background: url(../images/icon-1.png) no-repeat;
    background-size: contain;
    width: 38px;
    height: 35px;
}

.icon-wrap a:nth-child(3){
    background: url(../images/icon-2.png) no-repeat;
    background-size: contain;
    width: 83px;
    height: 38px;
}

.icon-wrap a:nth-child(2){
    background: url(../images/icon-3.png) no-repeat;
    background-size: contain;
    width: 40px;
    height: 31px;
}

.icon-wrap a:nth-child(1){
    background: url(../images/icon-4.png) no-repeat;
    background-size: contain;
    width: 74px;
    height: 18px;
}


/*Header*/
.icon{
    border: none;
    background: #fff;
    height: 57px;
    width: 50px;
    color: #4c5c9c;
    font-size: 30px;
}

#home-icon {
    position:absolute; left:20px; top:-4px;
    width:30px;
    height:30px;

    background:#4c5c9c;
    color:#fff;
    border-radius:50%;
    font-size:18px;
    text-align:center;
    padding-top:2px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#user-icon {
    width:36px;
    height:36px;

    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    border-radius:50%;
    position:absolute;
    right:20px;
    top:-6px;
}

a.detail-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left:-55px;
    /*margin: 15px auto;*/
    margin-bottom: 15px;

    color:#fff;
    font-size:12px;
    text-transform:uppercase;
    background:#7170a8;
    border-radius:15px;
    padding:4px 20px;
}

a.detail-btn:hover {
    background-color: #63aeb4;
    color:#fff;
}

a.description-btn {
    position: absolute;
    right: 0;
    padding:0px 15px;
    font-size:22px;
    /*color: #7170a8;*/
}

a.description-btn:hover {
    color: #63aeb4;
}


/*Footer*/
.copyright {
    color:#fff;
    font-size:12px;
    text-align: left;
    margin-top: 15px;
}
.copyright a,
.copyright span{

    margin: 0 20px;
    color:#fff;

}

.footer-social {
    /*position:absolute;*/
    /*top:-8px;*/
    /*right: 0;*/
    text-align: right;
}

#footer-social a { 
  display:inline-block;
  background:#fff;
  border-radius:50%;
  width:28px;
  height:28px;
  margin-left:10px;
  text-align:center;
  font-size:16px;
  color:#4c5c9c;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top:4px;
 }

#hp-logo {
    width:143px;
    height:143px;
    background: url(images/logo.png) no-repeat;
    display:block;
    margin: 0 auto;
    margin-top: 90px;
}
#hp-logo-2 {
    width:186px;
    height:186px;
    background: url(images/logo-main.png) no-repeat;
    display:block;
    margin: 0 auto;
    margin-top: 90px;
}

#hp-title {
  /*font-family: LatoWeb;*/
  font-size:28px;
  font-weight:normal;
  text-align:center;
  text-transform:uppercase;
  margin:40px 0px 20px;
  color:#fff; 
}


/*Колонки*/

.item-content {
    margin:15px 0px;
    background:none;
    /*padding:20px;*/

}

.wrap-item{
    position: relative;
    margin: 0px;
    padding: 0px;
    background:#fff;
    /*padding-bottom: 40px;*/
}

.item-title {
    font-size:20px;
    color:#22222a;
    padding: 0px 20px;
}

.item-excerpt {
    border-bottom:1px solid #f4f4f4;
    border-top:1px solid #f4f4f4;
    padding: 12px 20px;
}

.item-meta {
    position: relative;
    padding: 12px 20px;
    /*margin-bottom: 30px;*/
}

.img-lnk {
    display:block;
    /*height:200px;*/
    max-height:200px;
    /*background: no-repeat center;*/
    /*-webkit-background-size:contain;*/
    /*background-size:contain;*/
}
.img-lnk img { max-width:100%; display:block;}

.main-block {
    position: relative;
}




.description{
    position: absolute;
    bottom: 0;
    left:0;
    top: 100%;
    right: 100%;
    background-color: #fff;
    z-index:2;
    opacity:0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.description.active{
    top: 0;
    right: 0;
    opacity: 1;
}

/**/

.hd-caption {
    background: url(images/captionbg.jpg) no-repeat;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    margin-top: 58px;
    margin-bottom: 5px;
}

.hd-info {
    position: relative;
    padding-bottom: 20px;
}

.hd-caption h3 {
    font-size: 22px;
    color: #fff;
    padding: 40px 0 105px;
    text-align: center;
}

.hd-title {
    background-color: #fff;
    padding: 10px 0;
}

.tl-price {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 17px;
    background: url(images/icon-lb.png) no-repeat left;
    background-size: contain;
    padding-left: 40px;
    margin-top: 10px;
}

/*.icon-lb {*/
    /*display: inline-block;*/
    /*width: 26px;*/
    /*height:26px;*/
    /*background: url(images/icon-lb.png) no-repeat;*/
    /*background-size:cover;*/
    /*-webkit-background-size:cover;*/
    /*-moz-background-size:cover;*/
/*}*/

.hd-statis .support,
.hd-statis .date-voting {
    font-size: 18px;
    color:#fff;
    padding: 10px 0;
    text-align: center;
}
.hd-statis .support span,
.hd-statis .date-voting span {
    font-size: 22px;
}


.hd-statis .support {
    background-color: #4c5c9c;
}

.hd-statis .date-voting {
    background-color: #4196e3;
}

.hd-voting {
    padding: 0;
    background-color: #fff;
}

.hd-voting span {
    display: block;
    text-align: center;
    color:#7170a8;
    padding-left: 25px;
}

.hd-description {
    font-family: HelveticaMedium;
    padding: 50px 68px;
    background-color: #fff;
    color: #696969;
    font-size: 16px;
    text-align: justify;

}
#user-info{
    position:absolute;
    top:-165px;
    /*top:-165px;*/
    /*left: 50%;*/
    /*margin-left:-55px;*/
    text-align: center;
    width: 100%;
}

#user-avatar {
    position: absolute;
    left: 50px;
    top:-60px;
    margin: auto;
    width:110px;
    height:110px;
    border: 3px solid #fff;
    /*background-repeat:none;*/
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

#user-title {
    font-size: 20px;
    color: #fff;
    text-align: left;
    padding-left: 150px;

}

.hd-comments {
    padding: 20px 0 25px 70px;
    background-color: #e8e8e8;
    text-align: left;
    font-size: 15px;
    color: #4c5c9c;

}

.lb-edit {
    display: inline-block;
    background: url(images/icon-edit.png) no-repeat right;
    background-size: contain;
    padding-right: 30px;


}

.lb-comment{
    display: inline-block;
    background: url(images/icon-comment.png) no-repeat right;
    background-size: contain;
    padding-right: 30px;
    margin-right: 30px;

}

.lb-diagramm{
    display: inline-block;
    background: url(images/icon-diagramm.png) no-repeat right;
    background-size: contain;
    padding:15px;
    position:absolute;
    right:70px;
    top:-6px;
}

.lb-signin{
    display: inline-block;
    background: url(images/icon-singin.png) no-repeat right;
    background-size: contain;
    padding:15px;
    position:absolute;
    right:20px;
    top:-6px;
}
/*btn*/
.vote-btn{
    display: block;
    padding: 10px 0px;
    margin: 0 auto;
    max-width: 170px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration:none;
    color:#525c99;
    background-color: #fff;
    border-radius:6px;
}

.vote-btn:hover{
    background-color: #4c5c9c;
    color:#fff;
}

.round-btn{
    display: block;
    position: relative;
    width: 130px;
    height:130px;
    margin: 35px auto;
    padding-top: 45px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration:none;
    color:#fff;
    background-color: #7170a8;
    border: 10px solid #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.round-btn::before{
    content: '';
    position: absolute;
    left: -6%;
    top:-6%;
    right: -6%;
    bottom:-6%;
    border: 3px solid #7170a8;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.round-btn::after{
    content: '';
    position: absolute;
    left: -12%;
    top:-12%;
    right: -12%;
    bottom:-12%;
    border: 1px solid #7170a8;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.round-btn:hover{
    background-color: #63aeb4;
    color:#fff;
}

.round-btn:hover::before,
.round-btn:hover::after{
    border-color: #63aeb4;
}

/**/

.icon{
    border: none;
    background: #63aeb4;
    height: 57px;
    width: 50px;
    color: #fff;
    /*opacity: 0;*/
    font-size: 30px;

    /*-webkit-transition: all .55s ease;*/
    /*-moz-transition: all .55s ease;*/
    /*-ms-transition: all .55s ease;*/
    /*-o-transition: all .55s ease;*/
    /*transition: all .55s ease;*/
}


#search{
    width: 380px;
    height: 57px;
    background: #fff;
    border: none;
    opacity: 0.5;
    font-size: 10pt;
    color: #fff;
    padding-left: 15px;
}

#like_submit{
    display: block;
    padding: 10px 0px;
    margin: 0 auto;
    max-width: 170px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration:none;
    color:#525c99;
    background-color: #fff;
    border-radius:6px;
}

/*@media(max-width: 768px) {*/
    /*#user-avatar{*/
        /*border-width: 20px;*/
    /*}*/
/*}*/
#statistic{
    padding-top: 52px;
}
#statistic h1{
    font-size: 23px;
    color: #fff;
    padding: 50px 70px;
    margin: 0;
    background: url('../images/header-statistic-icon.png') no-repeat 35px,
                url('../images/statistic-header-bg.jpg') no-repeat left;
}
#statistic section{
    background-color: #fff;
    overflow: hidden;
}
#statistic .row{
    margin: 15px 0;
}
#statistic .fig-wrap{
    text-align: right;
}
#statistic figure{
    background: no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    max-width: 280px;
    display: inline-block;
    text-align: center;
    color: #fff;
    padding: 40px 10px;
    line-height: 1;
}
#statistic .row:nth-child(odd) figure{
    background-image: url('../images/statistic-1.jpg');
}
#statistic .row:nth-child(even) figure{
    background-image: url('../images/statistic-2.jpg');
}
#statistic figure p{
    font-size: 16px;
    position: relative;
}
#statistic figure p::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 34px;
    height: 26px;
    margin-left: -17px;
    background: no-repeat center;
}
#statistic figure span{
    display: block;
}
#statistic figure p:first-child::before{
    background-image: url(../images/statistic-3.png);
    top: -30px;
}
#statistic figure p:last-child::before{
    background-image: url(../images/statistic-4.png);
    bottom:-33px;
}
#statistic figure p:first-child span{
     font-size: 45px;
 }
#statistic figure p:last-child span{
    font-size: 63px;
}
#statistic h3{
    font-size: 20px;
    color: #525c99;
    line-height: 1.2;
    margin: 0;
    margin-top: 80px;
}
@media(max-width: 992px){
    #statistic .fig-wrap{
        text-align: center;
    }
    #statistic h3{
        margin-top: 20px;
    }
}
#aboutDeveloper{
    margin-top: 52px;
}
#aboutDeveloper .s1{
    padding: 30px 60px;
    background: url('../images/statistic-header-bg.jpg') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;

}
#aboutDeveloper h1{
    font-size: 23px;
    color: #fff;
    margin: 0;
    padding-left: 40px;
    margin-top: 15px;
    background: url('../images/header-statistic-icon.png') no-repeat left;
    margin-bottom: 30px;
}
#aboutDeveloper .s1 p{
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-align: justify;
}
#aboutDeveloper .s2{
    background-color: #fff;
    padding: 0 90px;
    overflow: hidden;
}
#aboutDeveloper .s3{
    background-color: #fff;
    padding: 30px  90px 0 90px;
    overflow: hidden;
    text-align: justify;
}

#aboutDeveloper .s3 ul {
    color:#696969;
    padding: 0;
    margin: 0 0 0 40px;
}

#aboutDeveloper .s3 li{
    padding: 5px 0 2px 5px;
    list-style: circle;
    font-size: 18px
}

#aboutDeveloper ul{
    padding: 0;
    margin: 0;
}
#aboutDeveloper li{
    padding: 30px 0 30px 120px;
    margin: 10px 0;
    list-style: none;
    position: relative;
}
#aboutDeveloper .img-wrap{
    position: absolute;
    left: 0;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    background: no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#aboutDeveloper h3{
    font-size: 20px;
    color: #525c99;
}
#aboutDeveloper p{
    font-size: 18px;
    color: #696969;
}
@media(max-width: 768px){
    #aboutDeveloper .s2{
        padding: 0 10px;
    }
    #aboutDeveloper .img-wrap{
        position: static;
        margin: 0 auto 10px;
    }
    #aboutDeveloper li{
        padding: 0 20px;
        margin: 30px 0;
    }
    #aboutDeveloper h3,
    #aboutDeveloper p{
        text-align: center;
    }
}

#like_submit{
    display: block;
    padding: 10px 0px;
    margin: 0 auto;
    max-width: 170px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration:none;
    color:#525c99;
    background-color: #fff;
    border-radius:6px;
}
@media(max-width: 1200px){
    #main-footer{
        position: static;
        height:auto;
    }
    .copyright,
    .icon-wrap{
        text-align: center;
        margin-bottom:20px;
    }
}
@media(max-width: 768px){
    .icon-wrap a{
        margin: 0 5px;
    }
    .footer-social{
        text-align: center;
    }
}

.icon-facebook {
    display: inline-block;
    background: url(../images/icon-fb.png) no-repeat;
    background-size: contain;
    width: 27px;
    height: 25px;
    margin-top: 7px;
}

.icon-vk {
    display: inline-block;
    background: url(../images/icon-vk.png) no-repeat;
    background-size: contain;
    width: 27px;
    height: 25px;